@import "fonts";
@import "reset";
@import "utils";
@import "aside";
@import "main";

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $darkGrey;
	background-color: $mainColorBg;

	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
}

