// Useful reusable items

$fontFamily: "Poppins", sans-serif;
$fontSize: 14px;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkGrey: #292d32;
$lightGrey: #9197b3;
$darkGreen: #008767;
$fontLightGrey: #B5B7C0;
$lightGreen: #00b087;
$pinkColor: #FFC5C5;
$redColor: #DF0404;
$violetColor: #5932EA;
$mainColorBg: #fafbff;
$maxWidth: 1440px;
$containerWidth: 1317px;

._container {
   max-width: $containerWidth;
   margin: 0px auto;
}

._maxContainer {
   max-width: $maxWidth;
   margin: 0px auto;
}

._open {
	background-color: $violetColor;
	.nav__item-tooltip {
		color: $whiteColor;
	}
	.nav__item-image,
	.nav__item-arrow  {
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(226deg) brightness(106%) contrast(104%);
	}
}







